<section id="details">
  <div class="container">
    <div class="row">
      <!-- toggle -->
      <div class="col-md-4 col-sm-4">
        <div class="toggle toggle-accordion toggle-transparent toggle-bordered-full">
          <div class="toggle active">
            <label>Lorem ipsum dolor.</label>
            <div class="toggle-content">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
          </div>
          <div class="toggle">
            <label>Sit amet, consectetur.</label>
            <div class="toggle-content">
              <p>Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
            </div>
          </div>
          <div class="toggle">
            <label>Consectetur adipiscing elit.</label>
            <div class="toggle-content">
              <p>Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /toggle -->
      <!-- skills -->
      <div class="col-md-4 col-sm-4">
        <h4>Pay</h4>
        <label>
        <span class="pull-right">$0.46/Mile</span>
       DRY VAN
        </label>
        <div class="progress progress-xxs">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; min-width: 2em;"></div>
        </div>
        <label>
        <span class="pull-right">$0.54/Mile</span>
        FLATBED
        </label>
        <div class="progress progress-xxs">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
        </div>
        <label>
        <span class="pull-right">$0.50/Mile</span>
        REEFER
        </label>
        <div class="progress progress-xxs">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 93%; min-width: 2em;"></div>
        </div>
        <label>
        <span class="pull-right">$0.54/Mile</span>
        REEFER HAZMAT
        </label>
        <div class="progress progress-xxs">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 77%; min-width: 2em;"></div>
        </div>
        <label>
        <span class="pull-right">$1000.00</span>
        Bonus After 90 Days
        </label>
        <div class="progress progress-xxs">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%; min-width: 2em;"></div>
        </div>
        
      </div>
      <!-- /skills -->
      <!-- recent news -->
      <div class="col-md-4 col-sm-4">
        <h4>TEAMS</h4>
        <div class="row tab-post">
          <%= image_tag('truckteam.png', class: 'img-rounded')%>  
        </div>
      </div>
      <!-- /recent news -->
    </div>
  </div>
</section>