<div class="container">
  <h3> Edit Note</h3>
  <%= simple_form_for([@driver, @office_driver_comment]) do |f| %>
  <%= f.input :body, label: "Editing Note for Driver #{@driver.full_name}" %>
  <%= f.submit "Update Note", class: "btn btn-success btn-xs" %> 
  <% end %>
</div>

https://gdte-chesnowitz.c9users.io/drivers/1/office_driver_comments/3/edit