<div class="container">

<%= render "users/partials/user_dash" if @user.user_type == "user" %> 
<%= render "users/partials/admin_dash" if @user.user_type == "admin" %>
<%= render "users/partials/dispatcher_dash" if @user.user_type == "dispatcher" %>
<%= render "users/partials/office_dash" if @user.user_type == "office"%> 















</div>