<div class="container">
  <h1><%= @dispatcher.full_name %>'s Dashboard</h1>
  
  <li><%= link_to "My Current Loads", '#' %></li>
  <li><%= link_to "Completed Loads", '#' %></li>
  <li><%= link_to "My Brokers", '#' %></li>
</div>  