<section class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-clock-o"></i>
          <a class="box-icon-title" href="#">
            <h2>On Time</h2>
          </a>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-user"></i>
          <a class="box-icon-title" href="#">
            <h2>It's Our People</h2>
          </a>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-thumbs-up"></i> 
          <a class="box-icon-title" href="#">
            <h2>We've Got Ya Covered</h2>
          </a>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
      </div>
    </div>
  </div>
</section>