<section class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-clock-o"></i>
          <a class="box-icon-title" href="#">
            <h2>On Time</h2>
          </a>
          <p>
            How do we maintain a stellar record for timely delivery? 
            By combining a number of resources into one winning combination. 
            By merging dedicated customer service with state-of-the-art technology.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-user"></i>
          <a class="box-icon-title" href="#">
            <h2>It's Our People</h2>
          </a>
          <p>
            What makes GD Trucking Express such a special place to work? 
            It’s simple: we truly care about our people.
            We truly believe we offer the most courteous, professional, 
            experienced, reliable drivers and support available anywhere.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-thumbs-up"></i> 
          <a class="box-icon-title" href="#">
            <h2>We've Got Ya Covered</h2>
          </a>
          <p>
            How do we maintain a stellar record for timely delivery?  
            By combining a number of resources into one winning combination. 
            By merging dedicated customer service with state-of-the-art technology. 
            
          </p>
        </div>
      </div>
    </div>
  </div>
</section>