<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Footer Logo -->
        
        <!-- Small Description -->
        <p></p>
        <!-- Contact Address -->
        <address>
          <ul class="list-unstyled">
            <li class="footer-sprite address">
              Chicago Office<br>
               2228 Landmeier Road<br> 
               Elk Grove Village, IL<br> 
               60007<br> 
            </li>
            <li class="footer-sprite phone">
              Phone: 1-847-678-0600
            </li>
            <li class="footer-sprite email">
              <a href="mailto:GD-Chicago@gd-trucking.com">gd-chicago@gd-trucking.com</a>
            </li>
          </ul>
        </address>
        <!-- /Contact Address -->
      </div>
            <div class="col-md-3">
        <!-- Footer Logo -->
        
        <!-- Small Description -->
        <p></p>
        <!-- Contact Address -->
        <address>
          <ul class="list-unstyled">
            <li class="footer-sprite address">
              Dallas Office<br>
              1174 N Great SW Pkwy<br>
              Suites 10 - 11<br>
              Grand Prairie, TX 75050<br>
              
            </li>
            <li class="footer-sprite phone">
              Phone: 1-847-678-0600
            </li>
            <li class="footer-sprite email">
              <a href="mailto:GD-Dallas@gd-trucking.com">gd-dallas@gd-trucking.com</a>
            </li>
          </ul>
        </address>
        <!-- /Contact Address -->
      </div>
      <div class="col-md-3">
        <!-- Links -->
        <h4 class="letter-spacing-1">EXPLORE GD Trucking Express</h4>
        <ul class="footer-links list-unstyled">
          <li><%= link_to "HOME", root_path %></li>
          <li><a class="page-scroll" href="#welcome">WELCOME</a></li>
          <li><a class="page-scroll" href="#realsupport">ABOUT</a></li>
          <li><a class="page-scroll" href="#team">OUR TEAM</a></li>
          <li><a class="page-scroll" href="#contact">CONTACT</a></li>
        </ul>
        <!-- /Links -->
      </div>
      <div class="col-md-3">
        <!-- Newsletter Form -->
        <h4 class="letter-spacing-1">KEEP IT SOCIAL</h4>
        <p>Visit us on FACEBOOK or LINKEDIN</p>

        <!-- /Newsletter Form -->
        <!-- Social Icons -->
        <div class="margin-top-20">
          <a target="_blank" href="https://www.facebook.com/gdtrucking/" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
          <i class="icon-facebook"></i>
          <i class="icon-facebook"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/company/gd-trucking-express" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
          <i class="icon-linkedin"></i>
          <i class="icon-linkedin"></i>
          </a>
        </div>
        <!-- /Social Icons -->
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <ul class="pull-right nomargin list-inline mobile-block">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li>&bull;</li>
        <li><a href="#">Privacy</a></li>
      </ul>
      &copy; 2008 - <%= Time.now.strftime("%Y") %> All Rights Reserved, GD Trucking Express Inc.
    </div>
  </div>
</footer>
 
