<section class="info-bar info-bar-clean">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-globe"></i>
        <h3>ON TIME</h3>
        <p>GDT Express ...................</p>
      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-usd"></i>
        <h3>DRIVEN</h3>
        <p>Our team.....</p>
      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-flag"></i>
        <h3>SUPPORT 24/7</h3>
        <p>Always there when you need us</p>
      </div>
    </div>
  </div>
</section>