<!-- Load Type Start -->   
<section id="loadtype"></section>   
<section class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-tablet"></i>
          <a class="box-icon-title" href="#">
            <h2>DRYVAN - REEFER</h2>
          </a>
          <p>Text Goes Here....</p>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-tint"></i>
          <a class="box-icon-title" href="#">
            <h2>FLATBED</h2>
          </a>
          <p>Text Goes Here</p>
          <!--<a class="box-icon-more font-lato weight-300" href="#">Learn More</a>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-icon box-icon-side box-icon-color box-icon-round">
          <i class="fa fa-cogs"></i>
          <a class="box-icon-title" href="#">
            <h2>HAZMAT</h2>
          </a>
          <p>Text goes here ...Nullam id dolor id nibh ultricies vehicula ut id elit. 
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          <!--<a class="box-icon-more font-lato weight-300" href="#">Learn More</a>-->
        </div>
      </div>
    </div>
  </div>
</section>          
<!-- Load Type End --> 