<section>
  <div class="container">
    <header class="text-center margin-bottom-40">
      <h1 class="weight-300">Real Support. Real People.</h1>
      <h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>
    </header>
    <div class="row">
      <div class="col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
        <a class="btn btn-default" href="#">LEARN MORE</a>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="assets/images/demo/index/support.jpg" alt="support" />
      </div>
    </div>
  </div>
</section>