<section>
  <div class="container">
    <header class="text-center margin-bottom-40">
      <h1 class="weight-300">Real Support. Real People.</h1>
      <h2 class="weight-300 letter-spacing-1 size-13"><span>IT'S ABOUT OUR PEOPLE</span></h2> 
    </header>
    <div class="row">
      <div class="col-sm-6">
        <p>
          We believe in old style tradition with new style technology.  
          We believe in offering services that surpass our competition.  
          From our years of experience in the industry we understand that shippers 
          and receivers struggle at times to schedule shipments, 
          coordinate pickup & delivery times and make on time deliveries. 
        </p>
        <p>
          GD Trucking Express, Inc. 
          is very proud of its 99.9% on time deliveries. 
          We accomplish this by purchasing and maintaining state of the art equipment, 
          hiring professional, courteous, experienced drivers and communicating with 
          our drivers and owner/operators on a daily basis. 
          We it’s our people who make the difference.
        </p>

      </div>
      <div class="col-sm-6">
        <img class="img-responsive img-rounded" src="assets/images/demo/index/support.jpg" alt="support" />
      </div>
    </div>
  </div>
</section>