<section id="social" class="parallax parallax-2" style="background-image: url('assets/images/demo/1200x800/3-min.jpg');">
  <div class="overlay dark-8">
    <!-- dark overlay [1 to 9 opacity] -->
  </div>
  <div class="container">
    <div class="text-center">
      <h3 class="nomargin">GD Trucking Express Social</h3>
      <p class="font-lato weight-300 lead nomargin-top">
        
        </p>
    </div>
    <ul class="margin-top-80 social-icons list-unstyled list-inline">
      <li>
        <a target="_blank" href="https://www.facebook.com/gdtrucking/">
          <i class="fa fa-facebook"></i>
          <h4>Facebook</h4>
          <span>Be Our Friend</span>
        </a>
      </li>
      
      <li>
        <a target="_blank" href="https://www.linkedin.com/company/gd-trucking-express">
          <i class="fa fa-linkedin"></i>
          <h4>Linkedin</h4>
          <span>Let's Link Up!</span>
        </a>
      </li>      
     </ul>
  </div>
</section>