<section id="social" class="parallax parallax-2" style="background-image: url('assets/images/demo/1200x800/3-min.jpg');">
  <div class="overlay dark-8">
    <!-- dark overlay [1 to 9 opacity] -->
  </div>
  <div class="container">
    <div class="text-center">
      <h3 class="nomargin">GDT Express Social</h3>
      <p class="font-lato weight-300 lead nomargin-top">We can't solve problems by using the same kind of thinking we used when we created them.</p>
    </div>
    <ul class="margin-top-80 social-icons list-unstyled list-inline">
      <li>
        <a target="_blank" href="#">
          <i class="fa fa-facebook"></i>
          <h4>Facebook</h4>
          <span>Be Our Friend</span>
        </a>
      </li>
      <li>
        <a target="_blank" href="#">
          <i class="fa fa-twitter"></i>
          <h4>Twitter</h4>
          <span>Follow Us</span>
        </a>
      </li>
      <li>
        <a target="_blank" href="#">
          <i class="fa fa-youtube"></i>
          <h4>Youtube</h4>
          <span>Our Videos</span>
        </a>
      </li>
      <li>
        <a target="_blank" href="#">
          <i class="fa fa-instagram"></i>
          <h4>Instagram</h4>
          <span>See Our Images</span>
        </a>
      </li>
      <li>
        <a target="_blank" href="#">
          <i class="fa fa-linkedin"></i>
          <h4>Linkedin</h4>
          <span>Check Our Identity</span>
        </a>
      </li>
      <li>
        <a target="_blank" href="#">
          <i class="fa fa-pinterest"></i>
          <h4>Pinterest</h4>
          <span>Visual Discovery</span>
        </a>
      </li>
    </ul>
  </div>
</section>