<section id="social" class="parallax parallax-2" style="background-image: url('assets/images/demo/1200x800/3-min.jpg');">
  <div class="overlay dark-8">
    <!-- dark overlay [1 to 9 opacity] -->
  </div>
  <div class="container">
    <div class="text-center">
      <h3 class="nomargin">GD Trucking Express Social</h3>
      <p class="font-lato weight-300 lead nomargin-top">We can't solve problems by using the same kind of thinking we used when we created them.</p>
    </div>
    <ul class="margin-top-80 social-icons list-unstyled list-inline">
      <li>
        <a target="_blank" href="#">
          <i class="fa fa-facebook"></i>
          <h4>Facebook</h4>
          <span>Be Our Friend</span>
        </a>
      </li>
     </ul>
  </div>
</section>