<div id="wrapper">
<div id="header" class="sticky shadow-after-3 clearfix">
  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
      <i class="fa fa-bars"></i>
      </button>
      <!-- BUTTONS -->
      <ul class="pull-right nav nav-pills nav-second-main">
      </ul>
      <!-- /BUTTONS -->
      <!-- Logo -->
      <a class="logo pull-left" href="index.html">
      <img src="assets/images/logo_dark.png" alt="" />
      </a>
      <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main">
          <!-- HOME -->
          <li><%= link_to "HOME", root_path %></li>
          <li><a class="page-scroll" href="#welcome">WELCOME</a></li>
          <li><a class="page-scroll" href="#realsupport">ABOUT</a></li>
          <li><a class="page-scroll" href="#team">OUR TEAM</a></li>
          <li><a class="page-scroll" href="#contact">CONTACT</a></li>
          <li class="dropdown">
            <!-- HOME -->
            <a class="dropdown-toggle" href="#">
            DRIVERS
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Driver Application", new_driver_registration_path %></li>
              <li><a class="page-scroll" href="#dryvan">DRYVAN</a></li>
              <li><a class="page-scroll" href="#reefer">REEFER</a></li>
              <li><a class="page-scroll" href="#flatbed">FLATBED</a></li>
              <li><a class="page-scroll" href="#teamdrivers">TEAMS</a></li>
              <li><a class="page-scroll" href="#oo">OWNER OPERATORS</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <!-- HOME -->
            <a class="dropdown-toggle" href="#">
            LOG IN
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Driver Log In", new_driver_session_path %></li>
              <li><%= link_to "Dispatcher/Office Log In", new_user_session_path %></li>
            </ul>
          </li>
        </nav>
      </div>
    </div>
</div>
</header>

