<section id="about" class="nopadding-bottom">  
  <div class="container">
    <header class="text-center margin-bottom-40">
      <h1 class="weight-300">Welcome to GDT Express</h1>
      <h2 class="weight-300 letter-spacing-1 size-13"><span>ONE LOAD AT A TIME</span></h2>
    </header>
    <div class="text-center">
      <p class="lead">
 2008 GD TRUCKING EXPRESS INC was opened as a Owner Operator operation which started with 1 semi-truck. 
 The company went up to 3 trucks as an owner operator company and soon realized because of 
 the Carriers we were leased on to we were slowly going out of business by 2010. In 2011
 GD TRUCKING EXPRESS INC made a decision to go on its own and run our own DOT and MC number.
 We started the business with 5 used trucks running power only units under the JB HUNT Pilot Program. 
 This allowed us to run under our own company and book our own freight from JB Hunt's load board. 
 By 2012 We were the number one carrier for JB HUNT and received Carrier of the year award. 
 In 2012 between company trucks and owner operators that were leased on to GD TRUCKING EXPRESS INC
 we had an avg of 15-20 trucks. We started slowly getting into the Brokerage side of the business 
 in early 2013. With JB HUNT still as a backup we slowly started transfering trucks towards the 
 broker side of the business vs the power only side with JB HUNT. By middle of 2013 we were already 100% on the broker side with our own trucks and trailers including a few owner operators. Since that time the company has grew to be not only a regular trucking carrier but a very unique and well established business. We now move Flatbed, Dry Van, Reefer, and Stepdeck freight all over 48 states. To add, we also are a Canadian approved carrier and run Hazmat freight. This gives
 us the advantage of variety and being able to provide to many drivers and owners looking for work
      </p>
      <div class="margin-top-40">
        <!--<img class="img-responsive" src="assets/images/demo/index/ipad.jpg" alt="welcome" />-->
      </div>
    </div>
  </div>
</section>