<section id="about" class="nopadding-bottom">  
  <div class="container">
    <header class="text-center margin-bottom-40">
      <h1 class="weight-300">Welcome to GDT Express</h1>
      <h2 class="weight-300 letter-spacing-1 size-13"><span>ONE LOAD AT A TIME</span></h2>
    </header>
    <div class="text-center">
      <p class="lead">
        GDT EXPRESS can transport your goods anywhere across North America 
        as well as internationally with our full range of transportation, logistics, 
        warehousing and distribution services.
We continually strive to surpass previous standards of quality and performance, 
carving innovation into our culture along the way. We have always been on the forefront of operational 
and technological advancements allowing us to exceed our customers evolving needs, influence the 
transportation industry and attain an impressive record of customer satisfaction.
      </p>
      <div class="margin-top-40">
        <!--<img class="img-responsive" src="assets/images/demo/index/ipad.jpg" alt="welcome" />-->
      </div>
    </div>
  </div>
</section>