<% if @admin %>
<%= render 'drivers/partials/admin_driver_edit' %>
<% elsif @user.user_type == 'office' %>
<%= render 'drivers/partials/office_driver_edit' %>
<% else %>

<h3>Sorry <%= @user.first_name %>, you are not authorized to perform this function.</h3>

<% end %>