<h3>
  Hello <% @driver.first_name %>, welcome to GD Trucking Express.
  Please complete the remainder of your application by updating 
  <%= link_to "Your Profile", edit_driver_registration_path %>.  
  Once we receive all the information required you can check back here to get 
  updated on your application status. 
</h3>